* {
  /* border: 2px solid black; */
  color: #100a08;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* REGISTRATION/SIGNUP STYLING */
.formDiv {
  background-color:#cbc2bf;
}
.form {
  border: 1px solid black;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30%;
  margin-top: 20px;
};
#login {
  margin: 5% 0;
}
.btn {
  border:1px solid #54362b;
  background-color: #cbc2bf;
  width: 60%;
  padding: 10px 20px;
  margin: 3% auto;
}
.btn:hover {
  background: #54362b;
  color: white;
}

/* HEADER STYLING */
#nav {
  color : grey;
  margin : 40px auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
};

#heart {
  display: flex;
}

#heart img {
  width: 60px;
  height: auto;
  margin-left: 20px;
  animation: heartbeat .6s infinite alternate;
	transform-origin: center;
}
@keyframes heartbeat{
	to { transform: scale(1.1); }
}

#h1 {
  width: 40%;
}
#h1 h1{
  font-family: 'Langar';
  width: 90px;
  font-size: 3rem;
  margin: 0px;
  padding: 0 10px;
}
.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.line {
  border-right: 1px solid black;
  border-left : 1px solid black;
}
.navele a {
  font-family: 'Langar';
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100px;
  color          : #262626;
  text-decoration: none;
  padding        : 4px 2px;
  font-size      : 1.2rem;
  font-weight: bold;
}
.design{
  border-left : 1px solid black;
}
.logout{
  font-family: 'Langar';
  width: 100px;
  color          :#262626;
  text-decoration: none;
  padding        : 4px 2px;
  font-size      : 1.2rem;
  font-weight: bold;
  background: none;
  border: none;
  border-right: 1px solid black;
} 
/* HOME STYLING */
.outerDiv{
  width: 100%;
  height: 100%;
  display: flex;
  /* background-color:#fce7cb; */
  background-color:#ffdfa6;
  margin-top: 20px;
}
.design1 {
  background       : url(./assets/replate15.jpeg);
  background-repeat: no-repeat;
  background-size  : cover;
  width            : 100%;
  height: 60vh;
  margin: 200px 0 0;
  display: flex;
}
#p-div{
  position: absolute;
}
#p-div p {
  border: 1px solid black;
  padding         : 10px 20px;
  color: black;
  background-color: white;
  font-size       : 1.2rem;
  font-weight: bold;
  margin-left    : 20px;
  text-align: center;
}
#innerDiv { 
  width: 150%; 
  display: flex;
  justify-content: flex-end;
}
#innerDiv img{
  margin-top: 40px;
  margin-right: 40px;
  width: 150%;
  height: 60vh;
}
#container {
  padding: 0 20px;
  line-height: 1.8;
}
#container h2 {
  font-size: 3rem;
}
#hr {
  width        : 100%;
  padding      : 20px 0;
  border       : none;
  border-bottom: 1px dashed black;
}
.container1 {
  margin         : 0 20px;
  display        : flex;
  justify-content: space-around;
}
.testimonial {
  background-color: #F5F5F5;
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content:center;
  text-align: justify;
  padding   : 10px 3%;
  margin: 10px 1px;
}
.uses h3 {
  font-size : 1.4rem;
  padding   : 20px;
  /* width     : 100%; */
  text-align: center;
}
.uses h4 {
  font-size : 1.2rem;
  padding   : 10px;
  /* width     : 100%; */
  text-align: center;
}
.uses p {
  text-align: justify;
  width     : 100%;
  font-size : 1rem;
  line-height: 1.5;
  padding   : 10px;
}
.testimonial img {
  width : 100%;
  margin: 0 auto;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .container1{
        display:flex;
        flex-direction: column;
        align-content:center;
  }
  .testimonial {
  width : 80%;
  margin: 8% auto;
  text-align: center;
  }
}

/* .title-container {
  background       : url(./assets/replate11.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
  background-color : white;
  width            : 100%;
  height           : 70vh;
  padding          : 10px 0 20px;
  display: flex;
  justify-content: flex-end;
  }
#pDiv {
    height: 10vh;
}
.title-container p {
  padding         : 10px 10px;
  color           : black;
  background-color: white;
  font-size       : 1.2rem;
  margin-right    : 20px;
}
#container {
  padding: 0 20px;
  line-height: 1.8;
}
#container h2 {
  font-size: 3rem;
}
#hr {
  width        : 100%;
  padding      : 20px 0;
  border       : none;
  border-bottom: 1px dashed black;
}
.container1 {
  margin         : 0 20px;
  display        : flex;
  justify-content: space-around;
}
.testimonial {
  background-color: #F5F5F5;
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content:center;
  text-align: justify;
  padding   : 10px 3%;
  margin: 10px 1px;
}
.uses h3 {
  font-size : 1.4rem;
  padding   : 20px;
  width     : 100%;
  text-align: center;
}
.uses h4 {
  font-size : 1.2rem;
  padding   : 10px;
  width     : 100%;
  text-align: center;
}
.uses p {
  text-align: justify;
  width     : 100%;
  font-size : 1rem;
  line-height: 1.5;
  padding   : 10px;
}
.testimonial img {
  width : 100%;
  margin: 0 auto;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .container1{
        display:flex;
        flex-direction: column;
        align-content:center;
  }
  .testimonial {
  width : 80%;
  margin: 8% auto;
  text-align: center;
  }
} */

/* ABOUT STYLING */
.aboutcontainertop {
  margin-top: 50px;
}
.aboutcontainer {
    margin         : 60px 30px;
    display        : flex;
    justify-content: space-around;
  }
.aboutcontainer1{
  display        : flex;
  justify-content: space-around;
  align-content: center;
}
.aboutcontainer1 .pros-cons{
  width:50%;
}
.contents{
  width:50%;
  display:inline-block;
  margin-top:2rem;
  filter:grayscale(100%); 
}
.contents .pros-cons:before{
  content:'';
  position:absolute;
  z-index:-1;
  transition:all 0.30s;
}
.pros-cons {
  width:50%;
  background:white;
  padding:1rem;
  box-shadow: 0 0.5rem 1rem gray;
  display:flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
}
.pros-cons img{
  max-width:100%;
  height:auto;
}
.contents:hover{
  filter:grayscale(0%);
   transform: rotate(0);
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
}
/* .pros-cons img {
  width : 70%;
  margin: 0 auto;
} */
/* .pros-cons {
    width: 33%;
    display:flex;
    flex-direction: column;
    align-content: center;
    margin: 20px 0;
} */
.uses h3 {
  font-size : 1.3rem;
  padding   : 5px;
  text-align: center;
}
.uses h4 {
  font-size : 1rem;
  padding   : 5px;
  text-align: center;
}
.pros-cons .pros-cons {
  display:flex;
  justify-content: center;
  align-content: center;
  text-align: justify;
  /* padding   : 10px 5%; */
}
div.one{ transform: rotate(10deg);}
div.two{
   transform: rotate(-10deg);
}

/* ABOUT STYLING */
@media (max-width: 500px) {
  .aboutContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
  }       
  .pros-cons {
  width : 80%;
  margin: 8% auto;
  text-align: center;
  }
}

/* FOOTER STYLING */
.footer {
  width: 20%;
  border: 0.5px solid #ffe4b2;
  background-color: white;
  padding         : 2% 40%;
  text-align: center;
}
.footer nav {
  display        : flex;
  justify-content: space-between;
}
.footer nav:hover {
  background-color: #346541;
  color           : white;
}
/* JOIN US/TEAM STYLING */
.topcontent {
  border: 10px solid #F5F5F5;
  line-height: 1.5;
}
#h11 {
  font-size  : 2rem;
  font-weight: bold;
  padding: 10px 20px;
}
#h12 {
  font-size  : 2rem;
  font-weight: bold;
  padding: 10px 50px;
}
.content {
  margin         : 10px 0;
  padding        : 20px 20px;
  border-top     : 1px dashed #C0C0C0;
  display        : flex;
  justify-content: space-between;
  flex-wrap      : wrap;
  align-items    : center;
}
.text1 {
  line-height: 1.5;
  width        : 48%;
  padding-right: 2%;
  padding-left: 0;
  display        : flex;
  flex-direction: column;
}
.image1 {
  width       : 48%;
  padding-left: 2%;
  padding-right: 0;
  display: flex;
  justify-content: center;
}
.image1 img {
  width: 60%;
  border-radius: 10px;
}
.inverse-content {
  padding        : 20px 20px;
  border-top     : 1px dashed #C0C0C0;
  display        : flex;
  justify-content: space-around;
  flex-wrap      : wrap;
  align-items    : center;
}
.text2 {
  line-height: 1.5;
  width        : 48%;
  padding-left : 1%;
  padding-right: 0;
}

.image2 {
  width        : 48%;
  padding: 0 10px;
  border-radius: 10px;
}

.image2 img {
  width: 70%;
  border-radius: 25px;
  background-color: green;
  background-blend-mode: screen;
  padding: 0 10px;
}

#footerDiv{
  border    : 10px solid #F5F5F5;
  margin-top: 10px;
  width     : 99%;
}
#footerP{
  line-height: 1.5;
  width     : 100%;
  text-align: center;
}
.UserList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  /* color: white; */
  text-align: center;
}
.UserCard p {
  margin: 6px auto;
  /* color: white; */
}
.UserCard {
  background-color:   #ffc966;
  /* background-color: rgba(255,255,255, 0.2); */
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 5px;
  margin: 1% 1%;
  padding: 10px;
  width: 30%;
  height: 25vh;
  opacity: 0.6;
}
.UserCard button {
  width: 50%;
  margin: 6px auto;
}
.section {
  margin-top: 40px;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.section h1{
  margin-top: 30px;
}
.section:last-of-type {
  background-image: url(./assets/replate16.jpeg);
}
